body {
    margin: 0;
    padding: 2em 0;
    box-sizing: border-box;
}

#education-section {
    background-color: var(--background);
    padding: 16px 0; 
    margin-top: 16px; 
    position: relative;
    overflow: auto;
    scroll-margin-top: 64px; 
    padding-top: 80px; 
    padding-bottom: 80px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#education-section h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    margin-top: 16px; 
    margin-bottom: 16px;
}

.h2 {
  text-align: center;
  font-size: 2.5em; 
  padding-top: 0.5em; 
  margin-bottom: 1em; 
}  

.education-container {
    width: 100%;
    max-width: 1200px;
    margin: 16px;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}


.education-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 16px; 
    margin-bottom: 16px; 
}


.education-item {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 12px;
    margin: 12px auto; 
    box-shadow: 0 3px 5px rgba(177, 72, 247, 0.1);
    max-width: 800px; 
}

.education-item:hover {
    transform: translateY(-4px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 8px rgba(145, 144, 144, 0.15);
}


body {
    padding-top: 16px;
    padding-bottom: 8px;
}


@media (max-width: 768px) {
    .education-container {
        padding: 8px;
        margin: 8px auto; 
    }

    .education-item {
        padding: 8px; 
        margin-bottom: 9px; 
    }

    #education-section {
      background-color: var(--background);
      padding: 2em 1em; 
      margin-top: 4em; 
      margin-bottom: 2em; 
  }
}